<li>
  <%#= form.file_field :avatar %>
  <h3>
    <%= user.name %>
  </h3>
  <% if current_user.is?("admin") && !current_user?(user) %>
     <%= button_to "delete", user, method: :delete,
                  data: { confirm: "You sure?" } %>
  <% end %>
</li>